<div class="top-bar">
    <div class="logo">
        <img src="/my-mod-site/images/logo.png" alt="Logo1">
        <a href="https://dontstarve.huijiwiki.com/wiki/%E9%A5%A5%E8%8D%92%EF%BC%9A%E8%81%94%E6%9C%BA%E7%89%88" rel="noopener noreferrer">
            <span class="logo2-wrapper">
                <img src="/my-mod-site/images/logo2.png" alt="Logo2">
            </span>
        </a>
        <a href="https://sts2.huijiwiki.com/wiki/%E9%A6%96%E9%A1%B5" rel="noopener noreferrer">
            <span class="logo3-wrapper">
                <img src="/my-mod-site/images/logo3.png" alt="Logo3">
            </span>
        </a>
    </div>
    <div class="flag-group">
        <span class="flag-label">CN</span>
        <div class="flag-right">
            <img src="/my-mod-site/images/china_flag.png" alt="中国国旗">
        </div>
    </div>
</div>