<div class="mod-grid">
    <a href="#" class="modbox" target="_blank">
        <div class="mod-card-content">
            <img src="/my-mod-site/images/mod_icon_1.png" alt="图标" class="mod-icon">
            <div class="mod-text-area">
                <div class="mod-header">
                    <span class="mod-title">毕竟是法师呢</span>
                    <span class="mod-tags">角色，辅助，能力拓展</span>
                </div>
                <p class="mod-desc">薇洛的角色mod，包括纯净辅助、高端功能、重构技能树、影月阵营新技能。让薇洛适应从原版到永不妥协、新界、为爽而虐各类难度梯度模组。</p>
            </div>
        </div>
    </a>

    <a href="#" class="modbox" target="_blank">
        <div class="mod-card-content">
            <img src="/my-mod-site/images/mod_icon_2.png" alt="图标" class="mod-icon">
            <div class="mod-text-area">
                <div class="mod-header">
                    <span class="mod-title">Meme表情包</span>
                    <span class="mod-tags">服务器模组，表情包交流</span>
                </div>
                <p class="mod-desc">在聊天栏可以发送表情包与好友交流，很酷对吧！还能帮助陌生朋友之间破冰。</p>
            </div>
        </div>
    </a>
</div>